:root {
    --font-headers: "Inter";
    --font-main: "Montserrat";
}

body {
    font-family: var(--font-main), sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1,
h2 {
    font-family: var(--font-headers), sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.login-submit{
    font-size: 20px;
  }

.logo {
    text-align: center;
    font-size: 80px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.login {
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: #050505;
    max-width: 500px;
    margin: 0 auto;
}

.login-message span {
    display: block;
}

.login-message {
    margin: 30px 0;
}

.greeting {
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 5px;
}

.login-image {
    width: 100%;
}

.login-image img {
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 50% 50%;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    outline: none;
    border-radius: 15px;
    background-color: #f5f5f5;
    margin-bottom: 25px;
    border: 0px;
    padding: 20px;
    color: #aaaaaa;
    font-size: 16px;
}

.link.forget {
    text-align: right;
}

.login .link {
    color: #456f5e;
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.login-submit {
    border: 0px;
    cursor: pointer;
    background-color: #456f5e;
    margin-top: 80px;
    margin-bottom: 40px;
    border-radius: 15px;
    padding: 20px;
    color: #fff;
    &:hover {
        background-color: #a7bab4;
    }
}

.sign-in-block {
    text-align: center;
}
