:root {
    --font-headers: "Inter";
    --font-main: "Montserrat";
}
body {
    box-sizing: border-box;
}

body {
    background: #e7edde;
    font-family: var(--font-main), sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1,
h2 {
    font-family: var(--font-headers), sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.product-category {
    text-decoration: none;
    color: inherit;
}

.container {
    padding: 10px 15px;
}

a.link {
    color: inherit;
    text-decoration: none;
}

a.link:hover {
    text-decoration: underline;
}

.container h1 {
    text-align: center;
}

.proucts-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px 10px;
}

.product {
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product-bottom {
    padding: 10px;
}

.flowerist-image {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    object-fit: cover;
    margin-right: 10px;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-description {
    margin-bottom: 30px;
    line-height: 1.3;
}

.product-title {
    margin-top: 5px;
}

.flowerist-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-flowerist {
    display: flex;
    align-items: center;
}

.flowerist-occupation {
    color: #ccc;
}

@media (min-width: 450px) {
    .proucts-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .proucts-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 991px) {
    .proucts-list {
        grid-template-columns: repeat(4, 1fr);
    }
}
