.wrap {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ebfcda;
} 

.flower {
	position: absolute;
	will-change: transform;
	
	img {
		will-change: transform;
		display: inline-block;
	}
	
	span {
		will-change: transform;
		animation: rocking 14.5s alternate infinite;
		display: inline-block;
	}
}

@keyframes rocking {
  0%, 100% {
    transform: translateY(0) rotate(0deg) translateX(0);
  }

  10% {
    transform: translateY(-3px) rotate(-3deg) translateX(6px);
  }

  17% {
    transform: translateY(2px) rotate(8deg) translateX(-2px);
  }

  30% {
    transform: translateY(1px) rotate(-2deg) translateX(4px);
  }

  42% {
    transform: translateY(1px) rotate(5deg) translateX(-2px);
  }

  52% {
    transform: translateY(-1px) rotate(-5deg) translateX(10px);
  }

  60% {
    transform: translateY(1px) rotate(3deg) translateX(-5px);
  }

  74% {
    transform: translateY(-10px) rotate(-4deg) translateX(2px);
  }

  82% {
    transform: translateY(1px) rotate(2deg) translateX(-2px);
  }

  91% {
    transform: translateY(-1px) rotate(-2deg) translateX(3px);
  }
}