.content-section {
  gap: 20px;
}

.content-section--white {
  background-color: #fff;
}

.content-section--secondary {
  background-color: var(--clr-secondary);
}

.content-section__inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.content-section__content {
  text-align: center;

  max-width: 800px;
  margin: 0 auto;
}

.content-section__title {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.content-section__text {
  font-size: 1rem;
  line-height: 1.5;
}

.content-section__image img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

@media (min-width: 1024px) {
  .content-section__inner {
    flex-direction: row;
    align-items: center;
  }

  .content-section:nth-child(odd) .content-section__inner {
    flex-direction: row-reverse;
  }

  .content-section__content {
    flex: 1;
    text-align: left;
    max-width: 100%;
    margin: 0;
  }

  .content-section__image {
    flex: 1;
  }
}
