.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-ntrl-min);
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}

.nav__menu {
  display: flex;
  align-items: center;
}

.nav__menu__item {
  font-weight: 700;
  color: var(--clr-primary);
  padding: 5px 0;
  transition: color 0.3s;
}

.nav__menu__item:hover {
  color: var(--clr-primary-dk);
}

.nav__menu__item + .nav__menu__item {
  margin-left: 30px;
}

.nav__menu__link--login {
  background: var(--clr-primary);
  color: var(--clr-primary-lt);
  display: block;
  border-radius: 5rem;
  padding: 0.75rem 1rem;
  transition: background 0.3s;
}

.nav__menu__link--login:hover {
  color: var(--clr-primary-lt);
  background: var(--clr-primary-dk);
}

.nav__header {
  display: none;
}

.mobile__menu__burger {
  display: none;
}

@media (max-width: 1023px) {
  .mobile__menu__burger {
    display: block;
  }

  .nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  .nav {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: -100%;
    background: var(--clr-secondary);
    overflow: hidden;
    transition: all 0.5s;
    z-index: 1001;
  }

  .nav.open {
    right: 0;
  }

  .nav__menu {
    flex-direction: column;
    margin-top: 15px;
  }

  .nav__menu__item + .nav__menu__item {
    margin: 0;
    margin-top: 15px;
  }
}
