@import url("./reset.css");
@import url("./header.css");
@import url("./footer.css");

:root {
  --ff-base: "Open Sans", sans-serif;
  --ff-alt: "Merriweather", serif;

  --clr-primary: #234823;
  --clr-primary-dk: #172b17;
  --clr-primary-lt: #e0ffc2;

  --clr-secondary: #e7edde;

  --clr-ntrl-min: #ffffff;
  --clr-ntrl-max: #333333;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-base);
  background: var(--clr-ntrl-min);
  color: var(--clr-primary);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
  color: var(--clr-primary);
  font-weight: bold;
}
