@import url("./reset.css");
@import url("./header.css");
@import url("./footer.css");

:root {
  --ff-base: "Open Sans", sans-serif;
  --ff-alt: "Merriweather", serif;

  --clr-primary: #234823;
  --clr-primary-dk: #172b17;
  --clr-primary-lt: #e0ffc2;

  --clr-secondary: #e7edde;

  --clr-ntrl-min: #ffffff;
  --clr-ntrl-max: #333333;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-base);
  background: var(--clr-ntrl-min);
  color: var(--clr-primary);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
  color: var(--clr-primary);
  font-weight: bold;
}

/* Intro */
.intro {
  position: relative;
  padding-top: 80px;
  height: 100vh;
  max-height: 750px;
  background-color: var(--clr-secondary);
  background-image: url("../images/intro-bg.jpg");
  background: linear-gradient(#e7eddea0, #e7eddea0),
    url("../images/intro-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 650px;
}

.intro__text__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--clr-primary);
  text-align: center;
  max-width: 800px;
}

.intro__title {
  font-family: var(--ff-alt);
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 32px;
}

.intro__description {
  font-size: 20px;
  line-height: 1.4;
}

.intro__button {
  display: block;
  background: var(--clr-primary);
  font-size: 18px;
  font-weight: 700;
  color: var(--clr-primary-lt);
  border-radius: 5rem;
  padding: 1rem 2rem;
  margin-top: 32px;
  transition: background 0.3s;
}

.intro__button:hover {
  background: var(--clr-primary-dk);
}
